<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Aplicatia mea</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#Persoana">Persoana</a></li>
            <li><a href="#Produs">Produs</a></li>
            <li><a href="#Student">Student</a></li>
            <li><a href="#Medicament">Medicament</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1 ng-click="doStuff()">{{ helloWorld }}</h1>
    </div>
  </div>

  <hr/>

  <!-- Persoana -->
  <div class="container" ng-controller="HomeController">
    <h1><a name ="Persoana">Persoana</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in persoane.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.nume }}</td>
        <td>{{ item.prenume }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdatePerson(item)" class="btn btn-info btn-xs">
              Edit
         </button>
          </a>

          <button ng-click="deletePersoana(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga o persoana</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="person.id"/></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" class="form-control" ng-model="person.nume"/></td>
      </tr>
      <tr>
        <td>Prenume</td>
        <td><input type="text" class="form-control" ng-model="person.prenume"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addPersoana(person)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>

    <a name="Edit">
    <h2>Editeaza o persoana</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editPerson.id"></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" ng-model="editPerson.nume"></td>
      </tr>
      <tr>
        <td>Prenume</td>
        <td><input type="text" ng-model="editPerson.prenume"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updatePerson()">
            Update
          </button>
        </td>
      </tr>
    </table>



    </div>

     <!-- Produs -->
  <div class="container" ng-controller="HomeController">
    <h1><a name ="Produs">Produs</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in produse.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.denumire }}</td>
        <td>{{ item.an }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdateProdus(item)" class="btn btn-info btn-xs">
              Edit
              <span  class="glyphicon glyphicon-edit"></span>
          </button>
          </a>

          <button ng-click="deleteProdus(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga un produs</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="produs.id"/></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" class="form-control" ng-model="produs.denumire"/></td>
      </tr>
      <tr>
        <td>an</td>
        <td><input type="text" class="form-control" ng-model="produs.an"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addProdus(produs)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <a name="Edit">
    <h2>Editeaza un produs</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editProdus.id"></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" ng-model="editProdus.denumire"></td>
      </tr>
      <tr>
        <td>Prenume</td>
        <td><input type="text" ng-model="editProdus.an"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateProdus()">
            Update
          </button>
        </td>
      </tr>
    </table>


     <!-- Student -->
  <div class="container" ng-controller="HomeController">
    <h1><a name ="Student">Student</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in studente.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.nume }}</td>
        <td>{{ item.an }}</td>
        <td>{{ item.serie }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdateStudent(item)" class="btn btn-info btn-xs">
              Edit
              <span  class="glyphicon glyphicon-edit"></span>
          </button>
          </a>

          <button ng-click="deleteStudent(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga un student</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="student.id"/></td>
      </tr>
       <tr>
        <td>Nume</td>
        <td><input type="text" class="form-control" ng-model="student.nume"/></td>
      </tr>
      <tr>
        <td>AN</td>
        <td><input type="text" class="form-control" ng-model="student.an"/></td>
      </tr>
      <tr>
        <td>Serie</td>
        <td><input type="text" class="form-control" ng-model="student.serie"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addStudent(student)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <a name="Edit">
    <h2>Editeaza un student</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editStudent.id"></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" ng-model="editStudent.denumire"></td>
      </tr>
      <tr>
        <td>An</td>
        <td><input type="text" ng-model="editStudent.an"></td>
      </tr>
       <tr>
        <td>Serie</td>
        <td><input type="text" ng-model="editStudent.serie"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateStudent()">
            Update
          </button>
        </td>
      </tr>
    </table>




     <!-- Medicament -->
  <div class="container" ng-controller="HomeController">
    <h1><a name ="Medicament">Medicament</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in medicamente.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.denumire }}</td>
        <td>{{ item.efect }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdateMedicament(item)" class="btn btn-info btn-xs">
              Edit
              <span  class="glyphicon glyphicon-edit"></span>
          </button>
          </a>

          <button ng-click="deleteMedicament(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga un medicament</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="medicament.id"/></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" class="form-control" ng-model="medicament.denumire"/></td>
      </tr>
      <tr>
        <td>Efect</td>
        <td><input type="text" class="form-control" ng-model="medicament.an"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addMedicament(medicament)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <a name="Edit">
    <h2>Editeaza un medicament</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editMedicament.id"></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" ng-model="editMedicament.denumire"></td>
      </tr>
      <tr>
        <td>Efect</td>
        <td><input type="text" ng-model="editMedicament.efect"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateProdus()">
            Update
          </button>
        </td>
      </tr>
    </table>




<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Metoda Open</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
 





  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Grama Andrei 332AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
